APP_ENV=recette
APP_PORT=8081
POSTGRES_DB=carehub_recette
POSTGRES_USER=carehub
POSTGRES_PASSWORD=CHANGE_ME
CAREHUB_IMAGE=carehub-app:recette
APP_MEM_LIMIT=384m
APP_CPU_LIMIT=0.75
DB_MEM_LIMIT=768m
DB_CPU_LIMIT=0.75
PROXY_MEM_LIMIT=128m
PROXY_CPU_LIMIT=0.25
